In [ ]:
a=10
b=20
c=a+b
d=a*b
print(c)
print(d)

In [ ]:
type(c)

CREATING A COMPLEX NUMBER AND PRINTING ITS REAL PART AND IMAGINARY PART RESPECTIVELY

In [ ]:
e=8+7j    #Complex number has been created
f=10
f+e       #Addition of the complex number and natural number

In [ ]:
type(e)

In [ ]:
e.real    #This will print the real part of the complex number.

In [ ]:
e.imag    #This will print the imaginary part of the complex number.

VARIOUS OPERATIONS PERFORMED IN THE VARIABLE

In [ ]:
a=10.67
#b=0.56
g="pranjal"
#a+g                    #Operations cannot be performed as the heterogeneous data type is there and python does not support the operations on heterogeneous data type.
h=str(a)+"pranjal"      #Type casting concept(Method 1)using str used in the python which will convert the int to str and then operation can be performed.
i="10.67"+"pranjal"     #Type casting concept(Method 2)using inverted commas used in the python which will convert the int to str and then operation can be performed.
print(i)
print(h)

Reversing of the string using the step size function

In [ ]:
name="PRANJAL"
name_new=name[6:: -1]    # Here -1 is not the index number.It represents that the decrement of -1 size will be there.

In [ ]:
name[0:90]               # Here no error will be there as the in the concept of slicing last index number does not matter

In [ ]:
name[-20:90]             # In the Concept of the slicing last index and the first index doesnot matter if the index number does not fall withing the range of the defined string.By default the string will print the whole value.

In [ ]:
name[5:1-1]

In [ ]:
name="sudh_kumar"

In [ ]:
name[5:1-1]

LIST CREATION AND THE PROPERTY OF THE LIST

In [ ]:
l=[1,2,3,"pranjal",[1,2,3,4]]   # List is a collection of the heterogenous data type.

In [ ]:
s=l[4][1]
#print(s[:: -1])
print(s)

In [ ]:
l[2][:: -1]

In [ ]:
l*4                           # This operation will multiply the list 4 times.

In [ ]:
l + "PRANJAL"               # No addition is possible since we are trying to add the 2 disimmilar data types

In [ ]:
l + list("PRANJAL")          # By passing the name in the list, we have made 2 similar data types and hence the operations can be performed very easily.

RANGE FUNCTION CONCEPTS

In [ ]:
list(range(0,10))            # Range function is always used to genrate the integer number only.


RANGE FUNCTION CONCEPTS

In [ ]:
a=input()
b=input()

In [ ]:
a+b  #By default input function treats everything as a string and thats why a+b result has been concatenated rather than addition.

In [ ]:
a=int(input())
b=int(input())

In [ ]:
a+b  #Here by passing the int in the input function now a and b are treated as a integer and hence value of a+b is 112 not 4567

**Using for loop to extracrt each element present in the list.**

In [ ]:
l=[1,2,3,4,5,6]
for x in l:
  print(x)

In [ ]:
l=[1,2,3,4,5,6]
for x in l:
  if x==5:
   break         #here break will discontinue the exection and the output will be printed till 4
  print(x)

In [ ]:
l=[1,2,3,4,5,6]
for x in l:
  if x==5:
   break         # Here break will discontinue the exection and the output will be printed till 4.
  print(x)
else:            # Here else is not working because else will be executed only if the for will able to execute properly but in this case, break is there and in between for has been terminated.     
  print("Programme not successful")

In [ ]:
l=[1,2,3,4,5,6]
for x in l:
  if x < 5:
    print(x)
else:            # Here else is not working because else will be executed only if the for will able to execute properly but in this case, break is there and in between for has been terminated.     
  print("Programme not successful")

In [ ]:
l=[1,2,3,4,5,6]
for x in l:
  if x==5:
   continue     # here continue will discontinue the exection at the value it is passed and the output will be printed from the next value.
  print(x)

In [ ]:
l=[1,2,3,"Pranjal",4,5,6]
for x in l:
  if x==2:
    break
  print(x)

In [ ]:
l=[1,2,3,"Pranjal",4,5,6,"Mehrotra","Sunny","Mukesh",(1,2,3,4,5,6,7),[1,2,3,4,5,6,]]
for x in l:
  if(type(x)==int):
    #if(type(x)==int):
     print(x)

DOING VARIOUS MANIPULATIONS IN LIST

In [ ]:
l=[1,2,3,"Pranjal",4,5,6,"Mehrotra","Sunny","Mukesh",(1,2,3,4,5,6,7),[1,2,3,4,5,6,],[3,5,6,7,9],[5,6,7,9,10]]
for x in l:
  if type(x)==list or type(x)==str:
   print(x)
  else:
    print ("This is not possible")

In [ ]:
l=[1,2,3,"Pranjal",4,5,6,"Mehrotra","Sunny","Mukesh",(1,2,3,4,5,6,7),[1,2,3,4,5,6,],[3,5,6,7,9],[5,6,7,9,10]]
for x in l:
  if type(x)==list or type(x)==str:
    print(x)

In [ ]:
p="pranjal"
for x in p:
  print(x)

In [ ]:
p="pranjal"
for x in p:
  print(x+"1")

In [ ]:
for x in range(10):

In [ ]:
num=int(input("Enter the number from the user"))
for i in range(num):
  for j in range(num):
    print("*",end=" ")
  print("\r")

In [ ]:
num=int(input("Enter the number from the user"))
for i in range(num):
  for j in range(i+1):
    print("*",end=" ")
  print("\r")

In [ ]:
num=int(input("Enter the number from the user"))
for i in range(num):
  for j in range(i+1):
    print("*",end=" ")
    print("\r")

In [ ]:
num=int(input("Enter the number from the user"))
for i in range(num):
  for j in range(num):
    print("*",end=" ")
  print("\r")

In [ ]:
num=int(input("Enter the number from the user"))
for i in range(num):
  for j in range(i-1):    ##Main logic of the programme is here.Change the codition and you will get the different output
    print("*",end=" ")
  print("\r")

In [ ]:
num=int(input("Enter the number from the user"))
for i in range(num):
  for j in range(num):
    print(j,end=" ")
  print("\r")

In [ ]:
num=int(input("Enter the number from the user"))
for i in range(num):
  for j in range(i+1):
    if(j%2==0):
      print(j,end=" ")
      print("\r")
    elif(j%2==1):
      print(j,end=" ")
      print("\r")

In [ ]:
a = 0
if a:
  print(""""a's value"""")
else:
  print(""""Sorry nothing will get printed"""")

In [ ]:
for char in 'Welcome':
    print (char, end='*')
print()

In [ ]:
a = 0
if a:
  print("a's value")
else:
  print("Sorry nothing will get printed")

In [ ]:
dict_a=dict_b.copy()

In [ ]:
for x in (1,10,100): 
  print (x)

In [ ]:
a.difference(b)

In [ ]:
bool(0)

In [ ]:
l=[1,2,3,4]
l[:]

LOOP CONCEPTS.

In [ ]:
name="PRANJAL"
s=len(name)-1
for s in name:
  print(name[s])
  s=s-1

In [ ]:
name="PRANJAL"
s=len(name)-1
while s>0:
  print(name[s],end=" ")
  s=s-1

In [ ]:
name="PRANJAL"
s=len(name)-1
if s>0:
 print(name[s],end="")
s=s-1

In [ ]:
name=input("Enter the name from the user")
company=input("Enter the company name from the user")
wife=input("Enter the wife name from the user")

print("The name of the person is {}, The company name of the user is {}, The wife name of the user is {}".format(name,company,wife))   # Correct way to do formating in the python

SOME VERY USEFUL OPERATIONS OF THE LIST

In [ ]:
l=[1,2,3,[1,2,4,5],"PRANJAL"]
l.pop() #Pop function remove the last element present in the list

In [ ]:
l

In [ ]:
l.pop(3) # It will remove the third element present in the list

In [ ]:
l

LIST OPERATIONS

In [ ]:
l

In [ ]:
l1=[4,5,6]
l+l1

In [ ]:
l+l1

In [ ]:
l.append(l1)

In [ ]:
l

In [ ]:
l.extend(l1)

In [ ]:
l

In [ ]:
name="My name is pranjal"
for i in name.split():
  print(i)

In [ ]:
name

In [ ]:
name.split()

In [ ]:
l1 = [2,4,6,8,10,12,14,16,18,20]
l2 = [1,3,5,7,9,11,13,15,17,19]
l1+l2

In [ ]:
# There are mainly 3 main operations in the list manipulation.These are:
# 1.append
# 2.pop
# 3.extend

In [ ]:
# 1.Append Operations
l=[1,2,3,[1,2,4,5],"PRANJAL"]
l1=[4,5,6]
l.append(l1)  # l1 list will get appended to l list
l

In [ ]:
# 2.pop Function
l=[1,2,3,[1,2,4,5],"PRANJAL"]
#l.pop() # By default pop function will remove the last element from the list
l.pop(3) # Here pop will delete the fourth element present in the list
l

In [ ]:
# 3.Extend Function # Extend function will unwrapp all the elemets present in the list and then append it individually to the required list
l=[1,2,3,[1,2,4,5],"PRANJAL"]
l1=[4,5,6]
l.extend(l1)
l

We have 2 list namely v1 and v2.Programm to add the respecive elemts of the list and store them in different list.

In [ ]:
import numpy as np                                
v1=np.array([2,4,6,8,10,12,14,16,18,20])    #Converting the list into the vector format
v2=np.array([1,3,5,7,9,11,13,15,17,19])     #Converting the list into another vector format
v3 = v1+v2                                  #Performaing the addition operation in the vector foramt(Vector Addition)
print(v3)

SET DATA TYPE

In [ ]:
s={1,2,2,2,2,2,5,5,5,5}     # Set data type has been declared.

In [ ]:
s                           # Set always give us the unique values.

In [ ]:
l=[1,2,2,2222,2222,5,5,5,5,"pranjal","pranjal","nishi"]
set(l)                      # Calling set inside the list.This is done in order to find out the uniqueness of the list

In [ ]:
print('print("Testing")')

In [ ]:
print("print('Testing')")

NESTED LIST CANNOT BE PASSED INSIDE THE SET.

In [ ]:
L=[1,2,3,4,5,6,7,[1,2,3,4,5,6,7,8]]
set(L)

In [ ]:
#In order to solve this, we will be removing the list present inside another list.
s1=set()
for i in L:
  if type(i)!= list:
    s1.add(i)
s1

In [ ]:
# DICTIONARY

CONTINUE AND BREAK CONCEPTS

In [ ]:
# CONTINUE- It will not execute the statement written below it and directly pass the control to the loop.
# BREAK-    It will not execute the statement written below it and it transfers the control out of the loop.

In [ ]:
l=["sudhanshu","kumar",1,2,3,4,5,6,7,8]
for i in l:
  if i == 5:
    continue
  print(i)

In [ ]:
l=["sudhanshu","kumar",1,2,3,4,5,6,7,8]
for i in l:
  print(i)
  if i == 5:
    continue

In [ ]:
l=["sudhanshu","kumar",1,2,3,4,5,6,7,8]
for i in l:
 print(i)
 if i == 5:
    break

In [ ]:
l=["sudhanshu","kumar",1,2,3,4,5,6,7,8]
for i in l:
 if i == 5:
    break
 print(i)

In [ ]:
p="my name is pranjal"
p.split()
for i in p.split():
  print(i)

Squaring each element present in the list

In [ ]:
l=[1,4,6,78,90]
l1=[]
for i in l:
  l1.append(i**2)
l1

In [ ]:
L1 = []
num=range(1,11)
for i in num:
  if i%2==0:
    L1.append(i)
L1

In [ ]:
L2 = []
num=range(0,11)
for i in num:
  if i%2==1:
    L2.append(i)
L2

In [ ]:
import numpy as np
V1 = np.array(L1)
V2 = np.array(L2)
V3 = V1+V2
print(V3)

In [ ]:
# TUPPLES STARTING

In [ ]:
T=(1,2,3,4,5,"PRANJAL",5,2,3,4)
T[4]

In [ ]:
# INBUILD FUNCTIONS-There are only 2 inbuilt functions because of its immutability nature.
# The 2 inbuild functons are:   1.COUNT FOUNCTION    2.INDEX FUNCTION

In [ ]:
# COUNT EXAMPLE:
T=(1,2,3,4,5,"PRANJAL",5,2,3,4)
T.count(5)   # How many times 5 appear in tupple.

In [ ]:
# INDEX FUNCTION
T=(1,2,3,4,5,"PRANJAL",5,2,3,4)
T.index(4)  # Indicates the index number of the element 4.

In [ ]:
 # del-This function is used to delete the list, tupples.

CONCCEPT OF DICTIONARIES

In [ ]:
# It is a collection which keeps the values in the format of key,values pairs.

In [ ]:
d={}   # By default it will be dictionary.
type(d)

In [ ]:
d={1,2,3} # Now it be treated as a SET by the python compiler.
type(d)

In [ ]:
# List indices is equivalent to keys in dictionaries.
# List values is equivalent to dictionaries values.

In [ ]:
d={   4:"sudh",    "pranj":"nandi",   "k2":[1,2,3,4,5,6],   "pop":{34,56,7,8,}   }  # d is a dictionary type having key and value pairs.

In [ ]:
#  RULES OR SYNTAX FOR NAMING THE KEY IN DICTIONARIES

#  1. Special Characters viz. %, @ , # , * etc cannot be used in the key variables. 
#  2. Strings viz. "K1","K2" etc.can be used in key variables.
#  3. Lists, sets are not allowed inside the key variables.
#  4. Tupples are allowed to be used as key variabkles.
#  5. _ Underscore also called Place holder operator in programming are also allowed to be used in the key variables.
#  KEY VALUE WILL ALWAYS BE UNIQUE.It will always pass the latest value if any multile key values are there.

In [ ]:
d2={     1:"sudh",  2:"kumar" , 3: ["ML" , "DL," , "AIOPS", " Exceptional Handling "], 4: "sudh",  "xyz": " year",  5:{"Pranjal","Nandi","Gopal"}   }
#d3=list(d2.items())

In [ ]:
# For accessing the values of the dictionaries, we have to call the correspondinf key element present in the dictionary as shown in the example.
try:
 d2[0]        # It will not work as no key value 0 present in the dictionary.
except:
 print(d2[1]) # It will print sudh as the value corresponding to the key element 4.

In [ ]:
# ITERATING THE ELEMENTS OF DICTIONARY VIA. FOR loop
for i in d2:
  print(i)  # It is just giving the values of the keys only.Not the values.

In [ ]:
# There is an inbuilt function in python for the d2.values() and d2.keys() which are used for printing the values and keys respectively.
print(d2.values())
d2.keys()

In [ ]:
d2.items() # It will print key and values simultaneously.

In [ ]:
list(d2.items())[1]   # It will treat d2 as a list and every list operations is applicable on it too just like the list.

In [ ]:
d2={     1:"sudh",  2:"kumar" , 3: ["ML" , "DL," , "AIOPS", " Exceptional Handling "], 4: "sudh",  "xyz": " year",  5:{"Pranjal","Nandi","Gopal"}   }

In [ ]:
type(d2)

In [ ]:
# Question: W.A.P to check if the dictionary type of value is present inside the dictionary and if yes, then try to print that value only.

In [ ]:
try:
 for i in d2.keys():
   if type(d2[i])==dict:
     print(d2[i])
except:
  print("Please check your logic")

In [ ]:
d2={     1:"sudh",  2:"kumar" , 3: ["ML" , "DL," , "AIOPS", " Exceptional Handling "], 4: "sudh",  "xyz": " year",  5:{"Pranjal","Nandi","Gopal"}   }
try: 
 for i in d2.keys():
   if type(d2[i])==dict:
     print(d2[i])
except:
  print("Please check your logic")

In [ ]:
#  Dictionary containing key as integers from 0 to 10 and values as the corresponding squares of the key integers.

In [ ]:
d3={}
for i in range(0,11):
  d3[i]=i**2

In [ ]:
d3

In [ ]:
s="Pranjal"
#WAP in which key will be each alphabet present in a word and value will be s only for each case.
d4={}
for i in s:
  d4[i]=s

In [ ]:
d4

In [ ]:
d = { "ineuron": {"a" : 23, "b": 34, "c" : 56}, "course" : {"d" : 45, "e" : 12}, "x": 99}

In [ ]:
# WAP to print the maximum value present in the above dictionary.

In [ ]:
max = 0
for i in d.values():
  print(i)
  for j in i.values():
   print(j)

In [ ]:
try:
  max = 0
  for i in d.values():
   #print(i)
    for j in i.values():
      print(j)
      if (max<d[j]):
        max=d[j]
  print(max)
except:
  print("Please check your logic")